/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
*.psd
/public/template/assets/img
/public/template/assets/fonts
/actions/InputImages
/actions/OutputImages
*.zip
/public/php_errors.log
/public/theme/*.html
/public/theme/assets/images
/public/theme/assets/libs/bootstrap-icons
/public/theme/assets/libs/prismjs
/public/theme/blocks
/public/vendors/fontawesome-free-6.7.2
/public/vendors/modern-screenshot-4.6.0
